<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNA Translation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Convert DNA sequence to protein sequence</h1>
    <p>Please input your DNA sequence:</p>
        <form method="POST">
            <input type="text" name="text">
            <input type="submit" name="button" value="Submit">
        </form>
    <br />
    <hr>

    <div class="out">
    <p>Protein sequence:</p> {{ output }}
    </div>
</body>
</html>